
  <app-header>
    <h2>Hello !</h2>   
    <h3>I'm Abdul</h3>
      <p>
        This is my first angular app.. I've never built an angular app because i thought it was a complex framework not knowing its very simple with the CLI (Command line interface). I really love the flexibility and the generation of components and modules. Thanks to SugarLabs, I wouldn't have discovered this easy-to-use and handy framework . I have to learn Typescript because Angular uses it and I look forward to building great apps with it 'cos' I'm in love with Angular..!!
      </p>
    
  </app-header> 